{% extends 'base.html.twig' %}

{% block title %}Liste des artistes{% endblock %}

{% block body %}
<h1 class="pt-2 text-center"></h1>
<hr>
<div class="row pt-2">
    <div class-sm-12="col-md-12.col-lg-4.col-xl-3"

    </div>

</div>
{% endblock %}
